<%- include('partials/header') %>

<div class="background">
  <div class="jumbotron centered background img-fluid">
    <div class="container">

    <h1 class="display-4 title">FoodShala</h1>

    <div class="text-center">
      <h2 class="rotate-text"><b></b></h2>
      <p class="text">Order foods from your favourite Restaraunts near you :) </p>

    </div>

  <a class="btn explore btn-lg" href="/explore" role="button">Explore</a>

      <a class="btn register btn-light btn-lg" href="/register" role="button">Sign Up</a>
      <a class="btn login btn-dark btn-lg" href="/login" role="button">Sign in</a>

    </div>
  </div>

</div>



<%- include('partials/footer') %>
